apiVersion: kustomize.config.k8s.io/v1beta1
helmCharts:
- includeCRDs: true
  name: kyverno
  namespace: kyverno
  releaseName: kyverno
  repo: https://kyverno.github.io/kyverno
  valuesFile: dev-values.yaml
  version: 3.6.0
- name: kyverno-policies
  namespace: kyverno
  releaseName: kyverno
  repo: https://kyverno.github.io/kyverno/
  valuesInline:
    skipBackgroundRequests: true
  version: 3.6.0
images:
- name: bitnami/kubectl
  newTag: 1.32.3
- name: busybox
  newTag: "1.35"
- name: reg.kyverno.io/kyverno/background-controller
  newTag: v1.14.1
- name: reg.kyverno.io/kyverno/cleanup-controller
  newTag: v1.14.1
- name: reg.kyverno.io/kyverno/kyverno-cli
  newTag: v1.14.1
- name: reg.kyverno.io/kyverno/kyverno
  newTag: v1.14.1
- name: reg.kyverno.io/kyverno/kyvernopre
  newTag: v1.14.1
- name: reg.kyverno.io/kyverno/reports-controller
  newTag: v1.14.1
